<div class="content-body">
  <h1 class="title">Bootstrap</h1>
  <p class="content ">Build responsive, mobile-first projects on the web with the world's most popular front-end component library.</p>
  <p class="content">Bootstrap is an open source toolkit for developing with HTML, CSS, and JS.
    Quickly prototype your ideas or build your entire app with our Sass variables and mixins,
    responsive grid system, extensive prebuilt components, and powerful plugins built on jQuery.
  </p>
  <input type="button " value="GetStarted" class="btn1" id="btn-start">
  <input type="button" value="Download" class="btn2" id="btn-download">
</div>
